/* colors/style stolen from 420chan's css */

body{ background-color: #FFEEDD; color: #202020; font-family: georgia,Trebuchet,serif;}
table{ font-size: inherit;}
form{ margin-bottom: 0px;}

a{ color: #990000; text-decoration: none;}
a:hover{ background-color: #993300; color: #ffffff;}
.invalid_chain { color: #999999;}

.emote{	font-size: 24px;}

.selected_board, .unselected_page { color: red; background-color: #DDCCBB; padding: 1px 6px; font-weight: bold; border: 1px solid #808080; font-family: "Lucida Grande",Tahoma,Arial,sans-serif; font-size: small;}
.unselected_board, .selected_page { color: black; background-color: #DDCCBB; padding: 1px 6px; font-weight: bold; border: 1px solid #808080; font-family: "Lucida Grande",Tahoma,Arial,sans-serif; font-size: small;}

.page_select{ padding: 4px; margin: 4px;}
.board_select{ padding: 4px; margin: 4px;}
.top_nav_bar{ padding: 4px;}

.return_to_index{ background-color: #E04000; padding: 4px; margin: 8px;}
.return_to_index a{ color: white; background-color: inherit;}

.board_title{ clear: both; text-align: center;}

.options{ background-color: white; margin: auto; border: 1px outset gray; width: 800px;}
.options td{ padding: 4px}

.new_thread, .new_reply{ width: 600px; background-color: #EEEEDD; color: #404040; font-weight: bold; font-size: smaller; margin-top: 8px; padding: 2px 6px 2px 2px;}
.new_thread{ margin: auto; margin-bottom: 16px;}

textarea, input{ font-family: inherit; font-size: inherit;}
.comment{ width: 100%; height: 90px;}
.subject{ width: 100%;}
.name, .tripcode{ width: 120px;}
.new_thread_submit, .new_reply_submit{ float: right;}

.board_index_title{ text-align: right; padding: 8px;}

.thread_div{ padding: 4px;}
.thread_subject{ font-weight: bold; font-size: large; color: #CC1105;}
.thread_icons{ float: right;}
.thread_icons img{ background-color: white;}
.thread_head{ padding: 5px; margin: 2px;}
.thread_footer{ clear: both;}
.thread_separator{ background-color: #707070; height: 1px; border: 0px none;}

.post_id{ font-weight: bold;}
.post_header{ margin-bottom: 8px;}
.post_name{ color: #117743; font-weight: bold;}
.post_tripcode{ color: #228854;}
.post_mod{ font-style: italic; font-weight: bold; color: #CC1105;}

.do_quote, .do_options{ font-size: smaller; color: #777777;}

.reply{ margin: 2px; background-color: #F0E0D6; color: #404040;}
.reply_indent{ width: 28px;}
.head_text, .reply_text{ padding: 12px 6px 6px 6px;}

.image, .image_thumb{ border: 0px none; margin: 4px 8px 4px 4px; float: left;}
.flash{ border: 0px none; margin: 4px 8px 4px 4px; float: left;}
.torrent{ font-size: small; float: left; background-color: white; border: 4px solid lightgray; margin: 4px 8px 4px 4px; padding: 6px; max-width: 500px; overflow: auto;}
.torrent h5{ font-size: small; margin: 4px 2px 4px 0px;}
.torrent_stats{ font-size: medium; color: gray;}
.torrent_created{ margin-top: 8px; font-size: small; color: gray;}
.torrent_download a{ font-size: larger;}
.torrent_file_size{ color: gray;}
.torrent_files_not_shown{ font-weight: bold;}

.file_exts{ font-style: italic;}

.footer{ padding: 4px; text-align: center; font-size: small;}
.highlighted_post{ border: 1px solid #990000;}
.quoted_post{ background-color: #F0E0D6; color: #404040; border: 1px solid #990000; margin: 2px; display: inline-table;}

.deleted{ color: #AAAAAA;}

.post_error{ text-align: center; color: red;}

.cant_post_div{ font-weight: bold; padding: 6px; margin: 6px 0px 6px 0px;}

.youtube{ margin: 2px;}
a.posted_url{ font-style: italic;}
.quote{ color: #789922;}

.list_row_a{ background-color: #F0E0D6;}
.list_subject { display: block;}

/* mod stuff */
.board_table { background-color: white; border: 1px outset gray;}
.board_table th, .board_table td{ text-align: center; vertical-align: top; padding: 2px 8px 2px 8px;}
.board_table .left {text-align: left; vertical-align: top;}
.quick_mod_action{ display: inline; background-color: #eeeeee; margin: 8px; }