
html, body{ font-family: "Trebuchet MS", Trebuchet, serif; font-size: 16px; color: #CCCCCC; background-color: #111111;}

h1, h2, h3{ font-weight: normal;}
table{ font-size: inherit;}
form{ margin-bottom: 0px;}
hr{ border: 0px none; background-color: white; height: 1px;}

a, a.chain { color: #0099FF; text-decoration: none;}
a:hover, a.inter_thread_link { color: #FF9900;}
.invalid_chain { color: #6D5F72;}

.emote{	font-size: 24px;}

.page_select{ padding: 4px; margin: 4px;}
.selected_page{ color: white; padding: 0px 2px 0px 2px; border: 1px inset #2C2C2C; -moz-border-radius: 2px; border-radius: 2px;}
.unselected_page{ padding: 0px 2px 0px 2px; border: 1px solid #2C2C2C; -moz-border-radius: 2px; border-radius: 2px;}

.board_select{ padding: 4px; margin: 4px;}
.selected_board{ color: white; padding: 1px 3px 1px 3px; border: 1px inset #2C2C2C; -moz-border-radius: 2px; border-radius: 2px;}
.unselected_board{ padding: 1px 3px 1px 3px; border: 1px solid #2C2C2C; -moz-border-radius: 2px; border-radius: 2px;}

.top_nav_bar{ padding: 4px;}

.board_title{ clear: both; text-align: center; font-size: larger; color: #0099FF; }

.options{ margin: auto; border: 1px outset #7F7F7F; width: 800px;}
.options td{ padding: 4px}

.new_thread, .new_reply{ width: 600px; margin-top: 8px; background-color: #222222; border: 1px solid #333333; -moz-border-radius: 5px; border-radius: 5px; padding: 4px 8px 4px 4px;} 
.new_thread{ margin: auto; margin-bottom: 16px;}

textarea, input{ font-family: inherit; font-size: inherit; color: #CCCCCC; background-color: #333333; border: 1px solid #111111;}
.comment{ width: 100%; height: 90px;}
.subject{ width: 100%;}
.name, .tripcode{ width: 120px;}
.new_thread_submit, .new_reply_submit{ float: right;}

.board_index_title{ text-align: right; padding: 8px;}

.thread_div{ background-color: #111111; padding: 4px; -moz-border-radius: 6px; border-radius: 6px;}
.thread_subject{ font-size: 16px; color: #666666; font-weight: bold;}
.thread_icons{ float: right;}
.thread_icons img{ -moz-border-radius: 3px; border-radius: 3px;}
.thread_head{ padding: 8px; margin: 2px; background-color: #111111; -moz-border-radius: 5px; border-radius: 5px;}
.thread_head_mod{ font-size: 16px; color: black; padding: 8px; margin: 2px; background-color: #D0FCFC; border: 2px solid #2BE7F4; -moz-border-radius: 5px; border-radius: 5px;}
.thread_footer{ clear: both;}
.thread_separator{ background-color: #222222; margin: 12px 0px 12px 0px;}

.post_header{ font-size: 10px; margin-bottom: 8px;}
.post_name{ font-size: 12px; color: #FFB566;}
.post_tripcode{ font-size: 12px; color: #FFB566;}
.post_mod{ font-size: 12px; color: #0099FF; font-style: italic;}

.do_quote, .do_options{ color: #888888;}

.post_id{ font-size: 12px; font-weight: bold; color: #BBBBBB;}
.reply{ margin: 2px; background-color: #222222; border: 1px solid #333333; -moz-border-radius: 5px; border-radius: 5px;}
.reply_mod{ font-size: 16px; color: black; margin: 2px; background-color: #D0FCFC; border: 2px solid #2BE7F4; -moz-border-radius: 5px; border-radius: 5px;}
.reply_indent{ width: 28px;}
.reply_text{ padding: 6px;}

.image, .image_thumb{ border: 0px none; margin: 4px 8px 4px 4px; float: left;}
.flash{ border: 0px none; margin: 4px 8px 4px 4px; float: left;}
.torrent{ font-size: 10px; float: left; background-color: black; border: 4px solid #2C2C2C; -moz-border-radius: 5px; border-radius: 5px; margin: 4px 8px 4px 4px; padding: 6px; max-width: 500px; overflow: auto;}
.torrent h5{ font-size: 11px; margin: 4px 2px 4px 0px;}
.torrent_stats{ font-size: 14px; color: #7FFF7F;}
.torrent_created{ margin-top: 8px; font-size: 10px; color: #7F7F7F;}
.torrent_download a{ font-size: 17px; color: white;} 
.torrent_file_size{ color: #7FFF7F;}
.torrent_files_not_shown{ font-weight: bold;}

.file_exts{ font-style: italic;}

.omitted_replies{ display: table; padding: 3px; background-color: #111111; font-weight: bold; -moz-border-radius: 4px; border-radius: 4px; margin: 2px;}
a.view_full_link{ font-weight: bold; font-size: 13px;}
.return_to_index{ padding: 8px 0px 8px 0px; font-weight: bold;}

.footer{ padding: 4px; text-align: center; font-size: 10px;}
.highlighted_post{ background-color: #112534; border: 2px solid #1199FF;}
.quoted_post{ background-color: #112534; border: 2px solid #1199FF; -moz-border-radius: 5px; border-radius: 5px; margin: 2px; display: inline-table;}

.deleted{ color: #555555;}

.post_error{ text-align: center; color: #00FFFF; font-size: 17px; font-style: italic;}

.cant_post_div{ font-size: 18px; text-align: center; padding: 6px; margin: 6px 0px 6px 0px;}

.youtube{ margin: 2px;}
a.posted_url{ font-style: italic;}
.quote{ color: #8766DD; font-style: italic;}

.list_row_a{ background-color: #222222;}
.list_subject { display: block;}

/* mod stuff */
.board_table { border: 6px outset #7F7F7F;}
.board_table th, .board_table td{ text-align: center; vertical-align: top; padding: 2px 8px 2px 8px;}
.board_table .left {text-align: left; vertical-align: top;}
.quick_mod_action{ display: inline; background-color: #1a1a1a; margin: 8px; }