/* palette used: http://www.colourlovers.com/palette/693847/Dogs_Blood_Rising */

table{ font-size: inherit;}
form{ margin-bottom: 0px;}

a{ text-decoration: none;}
.invalid_chain { color: #999999;}

.emote{	font-size: 24px;}

.page_select{ padding: 4px; margin: 4px;}
.board_select{ padding: 4px; margin: 4px;}
.top_nav_bar{ padding: 4px;}

.board_title{ clear: both; text-align: center;}

.options{ margin: auto; border: 1px outset gray; width: 800px;}
.options td{ padding: 4px}

.new_thread, .new_reply{ width: 600px; margin-top: 8px; padding: 4px 8px 4px 4px;}
.new_thread{ margin: auto; margin-bottom: 16px;}

textarea, input{ font-family: inherit; font-size: inherit;}
.comment{ width: 100%; height: 90px;}
.subject{ width: 100%;}
.name, .tripcode{ width: 120px;}
.new_thread_submit, .new_reply_submit{ float: right;}

.board_index_title{ text-align: right; padding: 8px;}

.thread_div{ padding: 4px;}
.thread_subject{ font-weight: bold; font-size: medium;}
.thread_icons{ float: right;}
.thread_icons img{ background-color: white;}
.thread_head{ padding: 5px; margin: 2px; border-top: 3px solid #B1103C;}
.thread_footer{ clear: both;}
.thread_separator{ display: none;}

.post_id{ color: #B1103C;}
.post_header{ font-size: smaller; margin-bottom: 8px; border-color: #D6D4C4; border-style: solid; border-width: 0 0 2px 0;}
.post_mod{ font-style: italic;}

.do_quote, .do_options{ color: #777777;}

.reply{ margin: 2px;}
.reply_indent{ width: 28px;}
.reply_text{ padding: 6px;}

.image, .image_thumb{ border: 0px none; margin: 4px 8px 4px 4px; float: left;}
.flash{ border: 0px none; margin: 4px 8px 4px 4px; float: left;}
.torrent{ font-size: small; float: left; background-color: white; border: 4px solid lightgray; margin: 4px 8px 4px 4px; padding: 6px; max-width: 500px; overflow: auto;}
.torrent h5{ font-size: small; margin: 4px 2px 4px 0px;}
.torrent_stats{ font-size: medium; color: purple;}
.torrent_created{ margin-top: 8px; font-size: small; color: gray;}
.torrent_download a{ font-size: larger;}
.torrent_file_size{ color: purple;}
.torrent_files_not_shown{ font-weight: bold;}

.footer{ padding: 4px; text-align: center; font-size: small;}
.highlighted_post{ border: 1px solid black;}
.quoted_post{ border: 1px solid black; margin: 2px; display: inline-table;}

.deleted{ color: #AAAAAA;}

.post_error{ text-align: center; color: red;}

.cant_post_div{ font-weight: bold; padding: 6px; margin: 6px 0px 6px 0px;}

.youtube{ margin: 2px;}
a.posted_url{ font-style: italic;}
.quote{ color: #555555; font-style: italic;}

.list_row_a{ background-color: #dddddd;}
.list_subject { display: block;}

/* mod stuff */
.board_table { border: 1px outset gray;}
.board_table th, .board_table td{ text-align: center; vertical-align: top; padding: 2px 8px 2px 8px;}
.board_table .left {text-align: left; vertical-align: top;}
.quick_mod_action{ display: inline; background-color: #eeeeee; margin: 8px; }
