<center>
	<h2 class="post_error">{_You are banned from posting!_}</h2>
	<p>
		{_You are banned from posting until_}: <b>{{ ban.expires }}</b><br>
		{% if ban.reason :}{_The reason for this ban is_}: <b>{{ ban.reason }}</b>{: else :}{_There is no reason available._}{:}<br>
		{_This ban was created at_}: <b>{{ ban.created }}</b><br>
		{_Your banned IP is_}: <b>{{ ban.ip }}</b>
	</p>
</center>
