{% display_boards = [b for b in global_db.boards if not b.config.mod_only or mod_name] %}
{% if len(display_boards) > 1 :}
	<div class="board_select">
		<a class="{% if request.path != '/' :}un{:}selected_board" href="/">{_Front Page_}</a>
		|
		{% for b in display_boards :}
			<a class="{% if not ('board_db' in globals() and board_db.dir == b.dir) :}un{:}selected_board" href="/{{ b.dir }}/">{{ b.config.title }} ({{ global_db.get_number_of_visitors()[b.config.title] }})</a>
		{:}
	</div>
{:}
