{% code = captchas.random_code() %}
<tr>
	<td>{_Captcha_}</td>
	<td>
		<img src="/~captcha/{{ code }}" style="margin: 0px 3px -4px 3px">
		<input type="hidden" name="captcha_code" value="{{ code }}">
		<input type="text" name="captcha_solution" size="{{ captchas.LENGTH }}" maxlength="{{ captchas.LENGTH }}">
	</td>
</tr>
