{"includes/top.html"}
{"includes/default_headers.html"}
<title>{_Global Config_} - {{ _(section_desc) }}</title>
<style type="text/css">

.msg{ border: 1px solid darkgray; font-size: larger; padding: 6px; margin: 4px;}
.sections{ margin-bottom: 20px;}
.selected_section{ padding: 4px; margin: 0px 2px 0px 2px; border-bottom: 3px solid black;}
.unselected_section{ padding: 4px; margin: 0px 2px 0px 2px; border-bottom: 3px solid lightgrey;}

</style>
</head><body>
{"includes/top_nav_bar.html"}
{"includes/board_select.html"}

<h2>{_Global Config_}</h2>
<p class="sections">
	{% for s, desc in views.CONFIG_AREA_SECTIONS :}
		<a href="/~config/{{ s }}" class="{% if s != section :}un{:}selected_section">{{ _(desc) }}</a>
	{:}
</p>
{% if msg :}<div class="msg">{{ msg }}</div>{:}
