<link rel="stylesheet" type="text/css" href="{{ common.STATIC_URL }}{{ board_db.config.css if 'board_db' in globals() else global_db.board_config_defaults.css }}">
<script type="text/javascript" src="{{ common.STATIC_URL }}libs/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ common.STATIC_URL }}main.js"></script>