<form action="/{{ board_db.dir }}/new-thread" method="post" enctype="multipart/form-data"><table class="new_thread">

<tr>
	<td width="40">{% if board_db.config.allow_names :}{_Name_}{: elif board_db.config.allow_tripcodes :}{_Tripcode_}{:}</td>	
	<td>
		<div class="new_thread_submit"><input type="submit" value="{_New Thread_}"></div>
		{% if board_db.config.allow_names :}
			<input type="text" class="name" name="name" maxlength="{{ board_db.config.max_name_length }}" value="{{ new_thread.name }}">
			{% if board_db.config.allow_tripcodes :}
				{_Tripcode_} <input type="password" name="tripcode" class="tripcode" value="{{ new_thread.tripcode }}">
			{:}
		{: elif board_db.config.allow_tripcodes :}
			<input type="password" name="tripcode" class="tripcode" value="{{ new_thread.tripcode }}">
		{:}
		<label><input type="checkbox" name="noko" id="nt_noko" class="noko" {% if new_thread.noko :} checked{:}>{_Noko_}</label>
	</td>
</tr>

{% if board_db.config.thread_captcha :}{"includes/captcha.html"}{:}

{% if mod_name :}
	<tr><td colspan="2">
		<label><input type="checkbox" name="locked" id="nt_locked"{% if new_thread.locked :} checked{:}>{_Lock_}</label>
		<label><input type="checkbox" name="sticky" id="nt_sticky"{% if new_thread.sticky :} checked{:}>{_Sticky_}</label>
		<label><input type="checkbox" name="bumpable" id="nt_bumpable"{% if new_thread.bumpable :} checked{:}>{_Bumpable_}</label>
		<label><input type="checkbox" name="mod" id="nt_mod"{% if new_thread.mod :} checked{:}>{_Show Mod Flag_}</label>
	</td></tr>
{:}

{% if board_db.config.max_subject_length :}<tr><td>{_Subject_}</td><td><input type="text" class="subject" name="subject" value="{{ new_thread.subject }}" maxlength="{{ board_db.config.max_subject_length }}"></td></tr>{:}

<tr><td colspan="2"><textarea name="comment" id="nt_comment" class="comment" maxlength="{{ board_db.config.max_comment_length }}">{{ new_thread.comment }}</textarea></td></tr>

{% if board_db.files_allowed() :}<tr><td>{_File_}</td><td><input type="file" name="file"> <span class="file_exts">{{ ', '.join(board_db.file_exts()) }}</span></td></tr>{:}

</table></form>