<form action="/{{ board_db.dir }}/{{ thread.id }}/reply" method="post" enctype="multipart/form-data"><table class="new_reply">

<tr>
	<td width="40">{% if board_db.config.allow_names :}{_Name_}{: elif board_db.config.allow_tripcodes :}{_Tripcode_}{:}</td>	
	<td>
		<div class="new_reply_submit"><input type="submit" value="{_Reply_}"></div>
		{% if board_db.config.allow_names :}
			<input type="text" class="name" name="name" maxlength="{{ board_db.config.max_name_length }}" value="{{ new_post.name }}">
			{% if board_db.config.allow_tripcodes :}
				{_Tripcode_} <input type="password" name="tripcode" class="tripcode" value="{{ new_post.tripcode }}">
			{:}
		{: elif board_db.config.allow_tripcodes :}
			<input type="password" name="tripcode" class="tripcode" value="{{ new_post.tripcode }}">
		{:}
		<label><input type="checkbox" name="noko" {% if new_post.noko :}checked{:}>{_Noko_}</label>
		{% if thread.bumpable :}<label><input type="checkbox" name="bump" {% if new_post.bump :}checked{:}>{_Bump_}</label>{:}
	</td>
</tr>

{% if board_db.config.reply_captcha :}{"includes/captcha.html"}{:}

{% if mod_name :}
	<tr><td colspan="2">
		<label><input type="checkbox" name="locked" {% if thread.locked :}checked{:}>{_Thread Locked_}</label>
		<label><input type="checkbox" name="sticky" {% if thread.sticky :}checked{:}>{_Thread Sticky_}</label>
		<label><input type="checkbox" name="bumpable" {% if thread.bumpable :}checked{:}>{_Thread Bumpable_}</label>
		<label><input type="checkbox" name="mod" {% if new_post.mod :}checked{:}>{_Show Mod Flag_}</label>
	</td></tr>
{:}

<tr><td colspan="2"><textarea maxlength="{{ board_db.config.max_comment_length }}" id="tr_comment_{{ board_db.dir }}_{{ thread.id }}" name="comment" class="comment">{{ new_post.comment }}</textarea></td></tr>

{% if board_db.files_allowed() :}<tr><td>{_File_}</td><td><input type="file" name="file"> <span class="file_exts">{{ ', '.join(board_db.file_exts()) }}</span></td></tr>{:}

</table></form>