<div class="page_select">
	<a class="{% if cur_page != -1 :}un{:}selected_page" href="/{{ board_db.dir }}/list">{_Thread List_}</a>
	|
	<b>{_Page_}:</b>
	{% if cur_page > 0 :}
		<a href="/{{ board_db.dir }}/{% if cur_page-1 :}{{ 'page%s' % (cur_page-1) }}{:}">&laquo;</a>
	{:}
	{% for page in pages :}
		<a class="{% if page != cur_page :}un{:}selected_page" href="/{{ board_db.dir }}/{% if page :}{{ 'page%s' % page }}{:}">{{ page }}</a>
	{:}
	{% if cur_page != -1 and cur_page != pages[-1] :}
		<a href="/{{ board_db.dir }}/page{{ cur_page+1 }}">&raquo;</a>
	{:}
</div>
