{% if mod_name :}
	{% if post.status == database.PostStatus.UNDELETED :}
		<form action="/{{ board_db.dir }}/{{ thread.id }}/{{ post.id }}/quick-mod-action" method="post" class="quick_mod_action">
			{% if post.ip :}
				<label><input type="checkbox" name="ban_ip">{_Ban_} {{ post.ip }}</label>
			{:}
			{% if post.file_meta :}
				<label><input type="checkbox" name="ban_and_delete_file">{_Ban and Delete file_}</label>
			{:}
			<label><input type="checkbox" name="delete">{_Delete Post_}</label>
			<input type="submit" value="{_Do_}">
		</form>
	{:}
	<a class="do_options" href="/{{ board_db.dir }}/{{ thread.id }}/{{ post.id }}/mod-options">{_More-Mod-Options_}</a>
{: else :}
	<a class="do_options" href="/{{ board_db.dir }}/{{ thread.id }}/{{ post.id }}/options">{_Options_}</a>
{:}
