<div class="thread_icons">
	{% if thread.sticky :}<img src="{{ common.STATIC_URL }}images/sticky.gif" title="{_This thread is stickied_}">{:}
	{% if not thread.bumpable :}<img src="{{ common.STATIC_URL }}images/nobump.gif" title="{_New replies will not bump this thread_}">{:}
	{% if thread.locked :}<img src="{{ common.STATIC_URL }}images/locked.gif" title="{_This thread is locked_}">{:}
</div>

<div class="thread_head" {% if on_thread_page :}id="0"{:}>
	{# header part #}
	{% if post.status == database.PostStatus.UNDELETED :}
		<div class="post_header">
			<span class="thread_subject">{{ thread.subject }}</span>
			{% if post.name :}<span class="post_name">{{ post.name }}</span>{:}
			{% if post.tripcode :}<span class="post_tripcode">[{{ post.tripcode }}]</span>{:}
			{% if post.mod :}<span class="post_mod">{_Moderator_}</span>{:}
			{{ post.posted }} ({{ _('Thread %d') % thread.id }})
			{"includes/post_options.html"}
			{% if not on_thread_page :}<a href="/{{ board_db.dir }}/{{ thread.id }}" class="view_full_link">{{ _('View Thread Page - %d Replies') % (thread.num_posts-1) }} &raquo;</a>{:}
		</div>
	{: else :}
		<div class="post_header deleted">
			{_Thread head deleted_}
			{% if mod_name :}{"includes/post_options.html"}{:}
			{% if not on_thread_page :}<a href="/{{ board_db.dir }}/{{ thread.id }}" class="view_full_link">{{ _('View Thread Page - %d Replies') % (thread.num_posts-1) }} &raquo;</a>{:}
		</div>
	{:}
		<div class="user_counter">
			<b>Visiters: {{ global_db.get_number_of_visitors_for_thread(board_db.config.title, thread.id) }}</b>
		</div>
	{# comment part #}
	{% if post.status == database.PostStatus.UNDELETED :}
		{"includes/uploaded_file.html"}
		<div class="head_text">{$ post.comment $}</div>
	{: else :}
		<span class="deleted">{_Post deleted by_} {% if post.status == database.PostStatus.USER_DELETED :}{_poster_}{: else :}{_moderator_}{:}.</span>
	{:}
</div>
