<div class="thread_footer">
	{# dont always need to display a post form #}
	{% if thread.max_post_id+1 >= board_db.config.max_thread_posts :}
		<div class="cant_post_div">{_This thread has reached the maximum number of posts. You may not reply to it._}</div>
	{: elif thread.locked and not mod_name :}
		<div class="cant_post_div">{_This thread is locked. Only Mods can reply to it._}</div>
	{: else :}
		{"includes/new_reply_form.html"}
	{:}
</div>
