<div class="thread_div">
	{% for index, post in enumerate(thread.posts) :}
		{% if index == 0 :}
			{"includes/thread_head.html"}
			{% if thread.num_posts_omitted :}
				<a class="omitted_replies" href="/{{ board_db.dir }}/{{ thread.id }}" onclick="return omitted(this,'{{ board_db.dir }}',{{ thread.id }},{{ thread.num_posts_omitted+1 }})">
					{% if thread.num_posts_omitted == 1 :}
						{_1 post hidden_} ({% if thread.num_files_omitted :}{_with file_}{: else :}{_no file_}{:}) &raquo;
					{: else :}
						{{ _('Posts 1 to %d (%s) hidden') % (thread.num_posts_omitted, '%d %s' % (thread.num_files_omitted, _('file') if thread.num_files_omitted == 1 else _('files'))) }} &raquo;
					{:}
				</a>
			{:}
		{: else :}
			{"includes/thread_reply.html"}
		{:}
	{:}
	{"includes/thread_footer.html"}
</div>