{% if post.status == database.PostStatus.UNDELETED :}
	<table {% if on_thread_page :}id="{{ post.id }}"{:} class="reply">
		<tr>
			<td colspan="2" class="post_header">
				<span class="post_id">{{ post.id }}.</span>
				{% if post.name :}<span class="post_name">{{ post.name }}</span>{:}
				{% if post.tripcode :}<span class="post_tripcode">[{{ post.tripcode }}]</span>{:}
				{% if post.mod :}<span class="post_mod">{_Moderator_}</span>{:}
				{{ post.posted }}
				{"includes/post_options.html"}
				{% if (not thread.locked or mod_name) and (thread.num_posts < board_db.config.max_thread_posts) :}<a class="do_quote" href="/{{ board_db.dir }}/{{ thread.id }}/reply?q={{ post.id }}">{_Quote_}</a>{:}
			</td>
		</tr>
		<tr><td class="reply_indent"></td><td class="reply_text">{"includes/uploaded_file.html"}{$ post.comment $}</td></tr>
	</table>
{: else :}
	{# multiple consecutive deletion markers get combined... #}
	{% if mod_name or (index == len(thread.posts)-1) or (thread.posts[index+1].status == database.PostStatus.UNDELETED) :}
		{% mc, pc = database.num_preceding_deleted(thread.posts, index) %}
		<table {% if on_thread_page :}id="{{ post.id }}"{:} class="reply">
			<tr>
				<td class="deleted post_header">
					{% if mod_name or (mc + pc == 1) :}
						<span class="post_id">{{ post.id }}.</span>
						{_Post deleted by_} {% if post.status == database.PostStatus.USER_DELETED :}{_poster_}{: else :}{_moderator_}{:}.
						{% if mod_name :}{"includes/post_options.html"}{:}
					{: else :}
						<span class="post_id">{{ post.id - (mc + pc - 1) }} - {{ post.id }}</span> {_Posts deleted by_} {% if mc :}{_moderator_}{% if pc :} ({{ mc }}){::}{% if mc and pc :} {_and_} {:}{% if pc :}{_poster_}{% if mc :} ({{ pc }}){::}.
					{:}
				</td>
			</tr>
		</table>
	{:}
{:}