<div style="float: right">
{% if mod_name :}
	{_Logged in as_} <i>{{ mod_name }}</i> {% if mod_admin :}({_Admin_}){:} - [<a href="/~mod-logout?c={{ mod_logout_confirm }}">{_Logout_}</a> |
	<a href="/~config">{_Global Config_}</a>{% if 'board_db' in globals() :} | <a href="/{{ board_db.dir }}/config">{_Board Config_}</a>{:}]
{: else :}
	<a href="/~config">{_Mod Login_}</a>
{:}
</div>

{% if mod_name :}
	{% if sum(len(b[1]) for b in mod_flags) :}
		<center>
		<table style="clear: both; border: 3px solid red; border-radius: 6px; -moz-border-radius: 6px; margin: 5px; color: red; font-size: larger;">
			<tr>
				<td>{_Flagged Posts_}</td>
				<td>
					<table>
					{% for dir, flags in mod_flags :}
						{% if flags :}
							<tr>
								<td>
									<a href="/{{ dir }}/">/{{ dir }}/</a>:
									{% for i, flag in enumerate(flags) :}
										{% if i :},{:}
										<a href="/{{ dir }}/{{ flag.thread_id }}/{{ flag.post_id }}/mod-options">{{ flag.thread_id}}#{{ flag.post_id }} ({{ flag.count }})</a>
									{:}
								</td>
							</tr>
						{:}
					{:}
					</table>
				</td>
			</tr>
		</table>
		</center>
	{:}
{:}
