{% if post.file_meta :}

	{% file_meta = post.file_meta %}
	{% fp, tp = uploaded_files.file_urls(board_db, post.thread_id, post.id, file_meta) %}

	{% if file_meta.type == uploaded_files.FLASH :}

		<a target="_blank" href="{{ fp }}"><img class="flash" src="{{ common.STATIC_URL }}images/flash.png"></a>
	
	{: elif file_meta.type == uploaded_files.IMAGE :}
	
		{% if file_meta.thumb_size :}
			<a href="{{ fp }}" onclick="return expImg(this,{{ file_meta.size[0] }},{{ file_meta.size[1] }})">
				<img class="image_thumb" width="{{ file_meta.thumb_size[0] }}" height="{{ file_meta.thumb_size[1] }}" src="{{ tp }}">
			</a>
		{: else :}
			<img class="image" width="{{ file_meta.size[0] }}" height="{{ file_meta.size[1] }}" src="{{ fp }}">
		{:}
	
	{: elif file_meta.type == uploaded_files.TORRENT :}
	
		{% scrape_data = uploaded_files.scrape_torrent(file_meta) %}
		
		<div class="torrent">
			<div class="torrent_download"><a href="{{ fp }}">{{ file_meta.name }}</a></div>
			{% if scrape_data :}
				<div class="torrent_stats">{{ _('%d Seeders, %d Leechers') % (scrape_data.seeders, scrape_data.leechers) }}</div>
			{:}
			<h5>{{ _('File') if (len(file_meta.files) + file_meta.files_not_shown) == 1 else _('Files') }}</h5>
			<div>
				{% for file in file_meta.files :}
					<span class="torrent_file_name">{{ file.name }}</span> <span class="torrent_file_size">{{ util.format_file_size(file.length) }}</span><br>
				{:}
				{% if file_meta.files_not_shown :}
					<span class="torrent_files_not_shown">({{ _('%d files not shown') % file_meta.files_not_shown }})</span><br>
				{:}
			</div>
			<h5>{_Trackers_}</h5>
			<div>
				{% for tracker in file_meta.trackers :}
					<span class="torrent_tracker">{{ tracker }}</span><br>
				{:}
			</div>
			{% if file_meta.comment :}
				<h5>{_Comment_}</h5>
				<div class="torrent_comment">{$ util.html_escape_nl(file_meta.comment) $}</div>
			{:}
			{% if file_meta.creation_time :}
				<div class="torrent_created">{_Torrent created_} {{ util.format_time(file_meta.creation_time, board_db.config.gmt_offset) }}</div>
			{:}
		</div>
	
	{:}
	
{:}