{"includes/top.html"}
{"includes/default_headers.html"}
<title>{_Stop right there!_}</title>
</head><body>

<center>
<div style="padding: 40px">
<h1>{{ global_db.board_config_defaults.title }}</h1>
<h2>{_This board requires that you be at least 18 years old to enter._}</h2>
<a href="/~confirm-overage">{_I am over 18 - Let me In!_}</a>
</div>
</center>

</body>
</html>
