{"includes/top.html"}
{"includes/default_headers.html"}
<style type="text/css">

.use_default_on{ opacity: 0.4; }
.msg{ border: 1px solid darkgray; font-size: larger; padding: 6px; margin: 4px;}

</style>
<title>{_Config for_} /{{ board_db.dir }}/</title>
</head><body>
{"includes/top_nav_bar.html"}
{"includes/board_select.html"}

{% if msg :}<div class="msg">{{ msg }}</div>{:}

<h2>{_Config for_} <a href="/{{ board_db.dir }}/">/{{ board_db.dir }}/</a></h2>

{% if mod_admin :}

	<p>{_If *use default* is set then the board config defaults will be used instead of these values, see:_} <a href="/~config/existing-boards">{_board config defaults_}</a>.</p>

	<form method="post" action="">
		<input type="hidden" name="action" value="update">
		<table>
			<tr><th></th><th nowrap>{_Use Default_}</th><th></th></tr>
			{% for i, (key, field) in enumerate(database.Board.CONFIG_FIELDS) :}
				<tr{% if not (i&1) :} class="list_row_a"{:}>
					<td>{{ _(field.name) }}:</td>
					<td><input type="checkbox" name="{{ key }}_use_default" class="use_default" {% if config[key].use_default :}checked{:}></td>
					<td>{$ field.html(key, config[key].value) $}</td>
					<td>{{ _(field.desc) }}</td>
				</tr>
			{:}
		</table>
		<p>
			<input type="submit" value="{_Save Changes_}">
			<input type="reset" value="{_Reset Fields_}">
		</p>
	</form>
	
	
	<script type="text/javascript">

	function update(){
		var name = $(this).attr('name');
		var key = name.substring(0, name.length - '_use_default'.length);
		var field = $('[name=' + key + ']');
		if($(this).is(':checked')){
			field.addClass('use_default_on');
			field.attr('readonly', 'readonly');
		}else{
			field.removeClass('use_default_on');
			field.removeAttr('readonly');
		}
	}
	$('.use_default').change(update).each(update);
	
	</script>
	
	
	<a name="rename"></a>
	<h2>{_Rename Board_}</h2>
	<p>{_This will change the dir of this board._}</p>
	<p><i>{{ _('The new Board Dir must match the regex /%s/.') % common.BOARD_DIR_REGEX }}</i></p>
	<form method="post" action="">
		<input type="hidden" name="action" value="rename">
		<p><input type="text" name="new_dir" id="rename_new_dir"> <input type="submit" value="{_Rename Board_}" id="rename_submit"></p>
	</form>
	<script type="text/javascript">
	function update(){
		var button = $('#rename_submit');
		var text = $('#rename_new_dir');
		(text.val() && text.val().match(/{$ common.BOARD_DIR_REGEX $}/)) ? button.removeAttr('disabled') : button.attr('disabled', 'disabled');
	}
	$('#rename_new_dir').keyup(update).each(update);
	</script>


	<a name="delete"></a>
	<h2>{_Delete Board_}</h2>
	<p>{_Warning! This will delete all posts and all files. It can not be undone._}</p>
	<form method="post" action="">
		<input type="hidden" name="action" value="delete">
		<p><input type="checkbox" name="confirm" id="confirm_delete"><label for="confirm_delete">{_I really want to do this._}</label></p>
		<p><input type="submit" id="delete_submit" value="{_Delete Board_}"></p>
	</form>
	<script type="text/javascript">
	
	function update(){
		field = $('#delete_submit');
		$(this).is(':checked') ? field.removeAttr('disabled') : field.attr('disabled', 'disabled');
	}
	$('#confirm_delete').change(update).each(update);
	
	</script>

{: else :}

	<p><i>{_You may not edit these fields because you are not an admin._}</i></p>

	<p>{_If *use default* is set then the board config defaults will be used instead of these values, see:_} <a href="/~config/existing-boards">{_board config defaults_}</a>.</p>

	<table>
		<tr><th></th><th nowrap>{_Use Default_}</th><th></th></tr>
		{% for i, (key, field) in enumerate(database.Board.CONFIG_FIELDS) :}
			<tr{% if not (i&1) :} class="list_row_a"{:}>
				<td>{{ _(field.name) }}:</td>
				<td><input type="checkbox" name="{{ key }}_use_default" class="use_default" {% if config[key].use_default :}checked{:} disabled></td>
				<td>{$ field.html(key, config[key].value, disabled = True) $}</td>
				<td>{{ _(field.desc) }}</td>
			</tr>
		{:}
	</table>

{:}

</body></html>
