{"includes/config_top.html"}

{% if entries :}
	
	<p>{$ _('Showing %s (exclusive, zero-indexed) of %s mod log entries.') % ('<b>%d</b>-<b>%d</b>' % (offset, offset+len(entries)), '<b>%d</b>' % num_entries) $}</p>
	
	{% if num_entries > len(entries) :}
		<p>
			<form action="" method="get">
				{_Entries_}
				<select name="offset">
					{% for x in xrange(0, num_entries, common.MODLOG_ENTRIES_PER_PAGE) :}
						{% if x+common.MODLOG_ENTRIES_PER_PAGE > num_entries :}
							{% x = max(0, num_entries-common.MODLOG_ENTRIES_PER_PAGE) %}
						{:}
						<option value="{{ x }}"{% if offset in xrange(x, x+common.MODLOG_ENTRIES_PER_PAGE) :} selected{:}>{{ x }}-{{ x+common.MODLOG_ENTRIES_PER_PAGE }}</option>
					{:}
				</select>
				<input type="submit" value="Show">
			</form>
		</p>
	{:}
	
	<table cellpadding="2" cellspacing="3">
		{% for i, row in enumerate(entries) :}
			<tr{% if i&1==0 :} class="list_row_a"{:}>
				<td><b>{{ offset+(len(entries)-1-i) }}</b></td><td>{{ row.time }}</td><td>{{ row.mod_name }}</td><td>{$ row.message $}</td>
			</tr>
		{:}
	</table>

{: else :}

	<p><i>{_There are no mod log entries._}</i></p>

{:}

</body></html>
