{"includes/config_top.html"}

{% if is_default_mod :}
	<p><blink><b>{_You are using the default name and password, you should change the password now, or create a new mod account and delete this one._}</b></blink></p>
{:}

<p>{$ _('This is %s on %s. To check for new releases of %s, see %s') % ('<b>%s %s</b>' % (common.NAME, common.VERSION), '<b>Python %s</b>' % sys.version, common.NAME, '<a href="%s">%s</a>' % (common.URL, common.URL)) $}</p>

<p>{$ _('You are logged in as mod %s.') % ('<i>%s</i>' % mod_name) $} {% if mod_admin :}{_You have admin powers._}{: else :}{_You do not have admin powers._}{:}</i></p>

<p>{$ _('There are %s cached parsed-comments, %s cached pages, and %s active sessions (roughly number of people recently online).') % ('<b>%d</b>' % parsed_comment_cache, '<b>%d</b>' % page_cache, '<b>%d</b>' % sessions) $}</p>

</body></html>
