{"includes/config_top.html"}

<p>{_This page lists posts that have been marked as reviewed by a moderator._}</p>

<table>
	{% for board_db, posts in boards :}
		<tr>
			<td valign="top" nowrap>
				<a href="/{{ board_db.dir }}/">{{ board_db.config.title }}</a>:
			</td>
			<td>
				{% ps = database.PostStatus %}
				{% STATUS = {ps.UNDELETED: _('Not Deleted'), ps.MOD_DELETED: _('Deleted by Mod'), ps.USER_DELETED: _('Deleted by Poster')} %}
				{% for post in posts :}
					<a href="/{{ board_db.dir }}/{{ post.thread_id }}#{{ post.post_id }}">{{ post.thread_id }}#{{ post.post_id }}</a> ({{ STATUS[post.status] }})<br>
				{:}
			</td>
		</tr>
	{:}
</table>

</body></html>
