{"includes/config_top.html"}

<form action="" method="get">
	<p{_Show posts by this IP only_}:<input type="text" name="ip" value="{{ ip }}"> <input type="text" name="ip" value="{{ ip }}"> <input type="submit" value="{_Show_}"> Like "192.168.1.1"</p>
</form>

{% if ip :}
	<b>Country : {{ global_db.ip_country(ip) }}</b>
	{% if not boards :}
		<p><i>{$ _('There are no posts with the IP %s. Note that post IPs are nulled after a certain time - see board settings.') % ip $}</i></p>
	{: else :}
		<form action="" method="post">
			<input type="hidden" name="action" value="delete">
			<input type="hidden" name="ip" value="{{ ip }}">
			{% for board_db, data in boards :}
				<h3><input type="checkbox" name="board" value="{{ board_db.dir }}"><a href="/{{ board_db.dir }}/">{{ board_db.config.title }}</a> : {{ _('%d posts in %d threads') % (data.total_ip_posts, len(data.threads)) }}</h3>
					<table>
					{% for thread in data.threads :}
						<tr>
							<td valign="top" nowrap><input type="checkbox" name="{{ board_db.dir }}_thread" value="{{ thread.id }}"><a href="/{{ board_db.dir }}/{{ thread.id }}">{_Thread_} {{ thread.id }}</a>:</td>
							<td>
								{% for post in thread.ip_posts :}
									<a class="chain" href="/{{ board_db.dir }}/{{ thread.id }}#{{ post.id }}"">
										&gt;&gt;{{ post.id }}
										{% if post.status == database.PostStatus.MOD_DELETED :}
											({_Deleted by Mod_})
										{: elif post.status == database.PostStatus.USER_DELETED :}
											({_Deleted by Poster_})
										{:}
									</a>
									<br>
								{:}
							</td>
						</tr>
					{:}
				</table>
			{:}
			<p><b{_Delete Checked_}: </b> {_Each post that has been checked will have it's status set to Deleted by Mod, and any attached file will be deleted. If the thread the post is contained within then has zero posts with a status of Not Deleted, the entire thread will be permanently deleted._}</p>
			<p><input type="submit" value="{_Delete Checked_}"></p>
		</form>
	{:}
{:}

<script type="text/javascript">

var bc = $('input[name=board]');
var ac = $('input[type=checkbox]');

bc.change(function(){
	var t = $('input[name="' + $(this).attr('value') +'_thread"]');
	$(this).is(':checked') ? t.attr('disabled', 'disabled') : t.removeAttr('disabled');
});

function updateSubmit(){
	var any = false;
	ac.each(function(){
		if($(this).is(':checked'))
			any = true;
	});
	$('input[value="Delete Checked"]').each(function(){
		any ? $(this).removeAttr('disabled') : $(this).attr('disabled', 'disabled');
	});
}

ac.change(updateSubmit);
updateSubmit();

</script>


</body></html>
