{"includes/config_top.html"}


<h3>{_Boards_}</h3>

{% if boards :}
	<table class="board_table">
		<tr><th class="left">{_Dir_}</th><th class="left">{_Config_}</th><th class="left">{_Title_}</th><th>{_Mod Only_}</th><th>{_Threads_}</th><th>{_Posts_}</th><th>{_Files_}</th><th>{_Files Size_}</th></tr>
		{% for board_db, data in boards :}
			<tr>
				<td class="left"><a href="/{{ board_db.dir }}/">{{ board_db.dir }}</a></td>
				<td class="left"><a href="/{{ board_db.dir }}/config">{_config_}</a></td>
				<td class="left">{{ board_db.config.title }}</td>
				<td>{% if board_db.config.mod_only :}{_yes_}{:}</td>
				<td>{{ data.stats.num_threads }}</td>
				<td>{{ data.stats.num_posts }}</td>
				<td>{{ data.stats.num_files }}</td>
				<td>{{ '%.2fmb' % (data.stats.uploaded_files_size/(1024*1024.0)) }}</td>
			</tr>
		{:}
	</table>
{: else :}
	<p>{_There are no existing boards._}</p>
{:}


<h3>{_Board Config Defaults_}</h3>

{% if mod_admin :}

	<p>{_These are default values for board-specific config settings. Title, Description and CSS specified here will also be used on the front page. You can override these settings per-board at the individual board config pages._}</p>

	<form method="post" action="">
		<input type="hidden" name="action" value="update_board_config_defaults">
		<table>
			{% for i, (key, field) in enumerate(database.Board.CONFIG_FIELDS) :}
				<tr{% if not (i&1) :} class="list_row_a"{:}>
					<td>{{ _(field.name) }}:</td><td>{$ field.html(key, global_db.board_config_defaults[key]) $}</td><td>{{ _(field.desc) }}</td>
				</tr>
			{:}
		</table>
		<p>
			<input type="submit" value="{_Save Changes_}">
			<input type="reset" value="{_Reset Fields_}">
		</p>
	</form>

{: else :}

	<p><i>{_You may not edit these fields because you are not an admin._}</i></p>
	
	<p>{_These are default values for board-specific config settings._}</p>

	<table>
	{% for i, (key, field) in enumerate(database.Board.CONFIG_FIELDS) :}
		<tr{% if not (i&1) :} class="list_row_a"{:}>
			<td>{{ _(field.name) }}:</td><td>{$ field.html(key, global_db.board_config_defaults[key], disabled = True) $}</td><td>{{ _(field.desc) }}</td>
		</tr>
	{:}
	</table>

{:}

</body></html>
