{"includes/config_top.html"}

<p>{$ _('Banned files will not be allowed to be posted. There are currently %s banned files.') % ('<b>%d</b>' % num_file_bans) $}</p>
<p>{_Enter hexadecimal MD5 hashes in these fields, separated by whitespace/newlines. Empty lines will be ignored._}</p>


<h3>{_MD5 hashes to ban_}</h3>
<form method="post" action="">
	<input type="hidden" name="action" value="ban">
	<textarea name="hashes" id="ban_hashes" style="width: 400px; height: 140px"></textarea>
	<p><input type="submit" id="ban_hashes_submit" value="{_Ban Hashes_}"></p>
</form>

<script type="text/javascript">

/* doesnt work with pasting
var update = function(){
	var button = $('#ban_hashes_submit');
	$('#ban_hashes').val() ? button.removeAttr('disabled') : button.attr('disabled', 'disabled');
}
$('#ban_hashes').keyup(update).each(update);
*/

</script>


<h3>{_MD5 hashes to unban_}</h3>
<form method="post" action="">
	<input type="hidden" name="action" value="unban">
	<textarea name="hashes" id="unban_hashes" style="width: 400px; height: 140px"></textarea>
	<p><input type="submit" id="unban_hashes_submit" value="{_UnBan Hashes_}"></p>
</form>

<script type="text/javascript">

/* doesnt work with pasting
var update = function(){
	var button = $('#unban_hashes_submit');
	$('#unban_hashes').val() ? button.removeAttr('disabled') : button.attr('disabled', 'disabled');
}
$('#unban_hashes').keyup(update).each(update);
*/

</script>

</body></html>
