{"includes/config_top.html"}

{% if mod_admin :}

	<p>{_Upon creating a new Board you will be sent to the configuration page for that Board._}</p>
	<p><i>{{ _('Board Dir must match the regex /%s/.') % common.BOARD_DIR_REGEX }}</i></p>
	<form method="post" action="">
		<input type="hidden" name="action" value="new_board">
		{_Board Dir_}: <input type="text" id="new_board_dir" name="dir">
		<input type="submit" id="new_board_submit" value="{_Make Board_}">
	</form>
	
	<script type="text/javascript">
	var update = function(){
		var button = $('#new_board_submit');
		var text = $('#new_board_dir');
		(text.val() && text.val().match(/{$ common.BOARD_DIR_REGEX $}/)) ? button.removeAttr('disabled') : button.attr('disabled', 'disabled');
	}
	$('#new_board_dir').keyup(update).each(update);
	</script>

{: else :}

	<p><i>{_You may not create a new board because you are not an admin._}</i></p>

{:}

</body></html>
