{"includes/config_top.html"}

{% if mod_admin :}

	<p>{_Mods with admin power can edit global and board configurations and create and manage mods._}</p>
	
	<table cellpadding="2" cellspacing="3">
		<tr><th>{_Name_}</th><th>{_Admin_}</th><th>{_Created_}</th><th>{_Last Active_}</th><th colspan="3">{_Actions_}</th></tr>
		{% i = 0 %}
		{% for i, mod in enumerate(mods) :}
			<tr{% if i&1==0 :} class="list_row_a"{:}>
				{% i += 1 %}
				<td>{{ mod.name }}</td>
				<td>{% if mod.admin :}{_yes_}{:}</td>
				<td>{{ mod.created }}</td>
				<td>{{ mod.last_active }}</td>
				<td>
					{% if mod.admin :}
						<form method="post" action="">
							<input type="hidden" name="action" value="take_admin">
							<input type="hidden" name="name" value="{{ mod.name }}">
							<input type="submit" value="{_Take Admin Power_}">
						</form>
					{: else :}
						<form method="post" action="">
							<input type="hidden" name="action" value="give_admin">
							<input type="hidden" name="name" value="{{ mod.name }}">
							<input type="submit" value="{_Give Admin Power_}">
						</form>
					{:}
				</td>
				<td>
					<form method="post" action="">
						<input type="hidden" name="action" value="reset_password">
						<input type="hidden" name="name" value="{{ mod.name }}">
						<input type="submit" value="{_Reset Password_}">
					</form>
				</td>
				<td>
					<form method="post" action="">
						<input type="hidden" name="action" value="delete">
						<input type="hidden" name="name" value="{{ mod.name }}">
						<input type="submit" value="{_Delete_}">
					</form>
				</td>
			</tr>
		{:}
	</table>
	
	
	<h3>{_New Mod_}</h3>
	<p><i>{_Name must match the regex_} /{{ common.MOD_NAME_REGEX }}/.</i></p>
	<form action="" method="post">
		<input type="hidden" name="action" value="new_mod">
		<p>
			{_Name_}: <input type="text" name="name" id="new_mod_name">
			<input type="checkbox" name="admin" id="ac"><label for="ac">{_Admin_}</label>
			<input type="submit" value="{_Create Mod_}" id="new_mod_submit">
		</p>
	</form>
	
	<script type="text/javascript">
	
	var update = function(){
		var text = $('#new_mod_name');
		var button = $('#new_mod_submit');
		text.val().match(/{{ common.MOD_NAME_REGEX }}/) ? button.removeAttr('disabled') : button.attr('disabled', 'disabled');
	}
	$('#new_mod_name').keyup(update).each(update);
	
	</script>

{: else :}

	<p><i>{_You need to be an admin to create and manage mods._}</i></p>
	
	<table cellpadding="2" cellspacing="3">
		<tr><th>{_Name_}</th><th>{_Admin_}</th><th>{_Created_}</th><th>{_Last Active_}</th></tr>
		{% i = 0 %}
		{% for i, mod in enumerate(mods) :}
			<tr{% if i&1==0 :} class="list_row_a"{:}>
				{% i += 1 %}
				<td>{{ mod.name }}</td>
				<td>{% if mod.admin :}{_yes_}{:}</td>
				<td>{{ mod.created }}</td>
				<td>{{ mod.last_active }}</td>
			</tr>
		{:}
	</table>

{:}


</body></html>
