{"includes/config_top.html"}

<form method="post" action="">
	<input type="hidden" name="action" value="update">
	<table>
		<tr><td>{_Current Password_}:</td><td><input type="password" name="current_password"></td></tr>
		<tr><td>{_New Password_}:</td><td><input type="password" name="new_password"></td></tr>
		<tr><td>{_Confirm New Password_}:</td><td><input type="password" name="confirm_new_password"></td></tr>
	</table>
	<p><input type="submit" name="submit_password" value="{_Change Password_}"></p>
</form>

<script type="text/javascript">

var cp = $('[name=current_password]');
var np = $('[name=new_password]');
var cnp = $('[name=confirm_new_password]');
var smb = $('[name=submit_password]');

var update = function(){
	(cp.val() && np.val() && cnp.val() && np.val() == cnp.val()) ? smb.removeAttr('disabled') : smb.attr('disabled', 'disabled');
}

cp.keyup(update);
np.keyup(update);
cnp.keyup(update);
smb.keyup(update);

update();

</script>

</body></html>
