{"includes/config_top.html"}

<p>{$ _('Expiry time format  is either %s, or %s, where %s is one of %s (with optional %s on the end). Eg. "%s" or "%s"') % ('<code>never</code>', '<code>&lt;number&gt; &lt;unit&gt;</code>', '<code>unit</code>', '<code>second minute hour day week month year</code>', '<code>s</code>', '3 hours', '1 year') $}</p>
<p>{$ _('Ban IP may be a ipv4 or ipv6 address string, a domain name such as %s, or a domain name mask such as %s.') % ('<code>example.com</code>', '<code>*.example.com</code>') $}</p>
<p>{_New bans override existing ones._}</p>

<h3>{_New Ban_}</h3>
<form action="" method="post">
	<input type="hidden" name="action" value="add">
	<table>
		<tr><th style="width: 100px">{_Expires In_}</th><th style="width: 100px">{_IP_}</th><th style="width: 100%">{_Reason_}</th><th style="width: 200px">{_Board name_}</th><th></th></tr>
		<tr>
			<td><input type="text" name="expires" value="{{ util.format_interval(global_db.board_config_defaults.default_ban_length) }}"></td>
			<td><input type="text" name="ip" value="{{ new_ban_ip }}"></td>
			<td><input type="text" name="reason" value="{{ global_db.board_config_defaults.default_ban_reason }}" style="width: 100%"></td>
			<td><input type="text" name="board_name" value="" style="width: 200px"></td>
			<td><input type="submit" value="{_Add_}"></td>
			</td>
		</tr>
	</table>
</form>

<br>

<h3>{_Existing Bans_}</h3>

{% if total_bans :}

	<form action="" method="get">
		<p>{_Show bans from this IP only_}: <input type="text" name="filter" value="{{ filter }}"> <input type="submit" value="{_Filter_}"></p>
	</form>
	
	<p><i>{$ _('There are %s bans matching %s.') % ('<b>%d</b>' % len(bans), '<b>%s</b>' % filter) if filter else _('There are %s bans in total.') % len(bans) $}</i></p>
	
	{% if bans :}
	
		<table class="board_table">
		<tr><th nowrap>{_Expires In_}</th><th>{_Created_}</th><th style="width: 100px">{_IP_}</th><th style="width: 100%">{_Reason_}</th><th style="width: 200px">{_Board name_}</th><th></th></tr>
			{% for i, ban in enumerate(bans) :}
				<tr>
					<td class="left" nowrap>{{ ban.expires }}</td>
					<td class="left" nowrap>{{ ban.created }}</td>
					<td>{{ ban.ip }}</td>
					<td class="left">{{ ban.reason }}</td>
                    <td class="left">{{ ban.board_name }}</td>
					<td>
						<form action="" method="post">
							<input type="hidden" name="action" value="delete">
							<input type="hidden" name="ip" value="{{ ban.ip }}">
							<input type="submit" value="{_Delete_}">
						</form>
					</td>
				</tr>
			{:}
		</table>
		
	{:}

{: else :}

	<p>{_There are no existing bans._}</p>

{:}

</body></html>
