<table class="quoted_post">
<tbody>
{% if post.status == database.PostStatus.UNDELETED :}
	<tr>
		<td colspan="2" class="post_header">
			<span class="post_id">{{ post.id }}.</span>
			{% if post.name :}<span class="post_name">{{ post.name }}</span>{:}
			{% if post.tripcode :}<span class="post_tripcode">[{{ post.tripcode }}]</span>{:}
			{% if post.mod :}<span class="post_mod">{_Moderator_}</span>{:}
			{{ post.posted }}
			{"includes/post_options.html"}
			{% if (not thread.locked or mod_name) and (thread.num_posts < board_db.config.max_thread_posts) :}<a class="do_quote" href="/{{ board_db.dir }}/{{ thread.id }}/reply?q={{ post.id }}">{_Quote_}</a>{:}
		</td>
	</tr>
	<tr><td class="reply_indent"></td><td class="reply_text">{"includes/uploaded_file.html"}{$ post.comment $}</td></tr>
{: else :}
	<tr>
		<td class="deleted post_header">
			<span class="post_id">{{ post.id }}.</span>
			{_Post deleted by_} {% if post.status == database.PostStatus.USER_DELETED :}{_poster_}{: else :}{_moderator_}{:}.
			{% if mod_name :}{"includes/post_options.html"}{:}
		</td>
	</tr>
{:}
</tbody>
</table>