{"includes/top.html"}
{"includes/default_headers.html"}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/~rss">
<script type="text/javascript">page='index';</script>
<title>{{ global_db.board_config_defaults.title }}</title>
</head><body>
{"includes/top_nav_bar.html"}
{"includes/board_select.html"}

<div class="board_title"><h1>{{ global_db.board_config_defaults.title }}</h1><p>{$ global_db.board_config_defaults.desc $}</p></div>

{% if threads :}
	{% for i, t in enumerate(threads) :}
		{% board_db = t.board_db %}
		{% thread = t.thread %}
		{% if i :}<hr class="thread_separator">{:}
		<div class="board_index_title"><a href="/{{ board_db.dir }}/">{{ board_db.config.title }} - /{{ board_db.dir }}/</a></div>
		{"includes/thread_preview.html"}
		{% del board_db, thread %}{# dont fuckup board_select.html lower down #}
	{:}
{: else :}
	<div class="cant_post_div">
		{% if not global_db.boards :}
			{_There are no existing boards._}
		{: else :}
			{_There are no recent threads on any boards._}
		{:}
	</div>
{:}

{"includes/board_select.html"}
{"includes/footer.html"}
</body></html>