{"includes/top.html"}
{"includes/default_headers.html"}
<title>{_Thread List_} - {{ board_db.config.title }}</title>
<script type="text/javascript">page='list';</script>
</head><body>
{"includes/top_nav_bar.html"}
{"includes/board_select.html"}
{"includes/board_header.html"}
{"includes/page_select.html"}

{% if threads :}
	<table cellpadding="4" width="100%">
	{% for i, thread in enumerate(threads) :}
		{% row_class = 'list_row_%s' % ('b' if (i & 1) else 'a') %}
		<tr class="{{ row_class }}">
			<td align="right" width="190" nowrap>{{ thread.updated }}</td>
			<td>
				<a class="thread_subject list_subject" href="/{{ board_db.dir }}/{{ thread.id }}">
				{{ thread.subject if (thread.subject and thread.head_status == database.PostStatus.UNDELETED) else _('Thread %d') % thread.id }}
				</a>
			</td>
			<td width="240" nowrap>{{ thread.num_posts-1 }} {{ _('reply') if thread.num_posts == 2 else _('replies') }} ({{ thread.num_files }} {{ _('file') if thread.num_files == 1 else _('files') }})</td>
		</tr>
		{% if thread.head_status == database.PostStatus.UNDELETED :}
			<tr class="{{ row_class }}">
				<td></td>
				<td>
					{% post = util.ObjDict(thread_id = thread.id, id = 0, file_meta = thread.head_file_meta) %}
					{"includes/uploaded_file.html"}
					<div class="head_text">{$ thread.head_comment $}</div>
				</td>
				<td></td>
			</tr>
		{:}
	{:}
	</table>
{: else :}
	<p>{_There are no active threads!_}</p>
{:}

{"includes/page_select.html"}
{"includes/new_thread_form.html"}
{"includes/board_select.html"}
{"includes/footer.html"}
</body></html>
