{"includes/top.html"}
{"includes/default_headers.html"}
<title>{_Mod Login_}</title>
</head><body>
{"includes/top_nav_bar.html"}
{"includes/board_select.html"}

<h2>{_Mod Login_}</h2>

{% if msg :}<p style="color: red">{{ msg }}</p>{:}

<form action="" method="post">
	<input type="hidden" name="action" value="login">
	<table>
		<tr><td>{_Name_}:</td><td><input type="text" name="name"></td></tr>
		<tr><td>{_Password_}:</td><td><input type="password" name="password"></td></tr>
		<tr><td>{_Go To_}:</td>
			<td>
				<select name="goto">
					<optgroup label="{_Front Pages_}">
						<option value="/" selected>/</option>
						{% for board_db in global_db.boards :}
							<option value="/{{ board_db.dir }}/">/{{ board_db.dir }}/</option>
						{:}
					</optgroup>
					<optgroup label="{_Config Sections_}">
						{% for s, desc in views.CONFIG_AREA_SECTIONS :}
							<option value="/~config/{{ s }}">{{ _(desc) }}</option>
						{:}
					</optgroup>
					{% if referer :}
						<optgroup label="{_Previous Page_}">
							<option value="{{ referer }}" selected>{{ referer }}</option>
						</optgroup>
					{:}
				</select>
			</td>
		</tr>
	</table>
	<p><input type="submit" value="{_Login_}"></p>
</form>

<script type="text/javascript">

var name = $('input[name=name]');
var password = $('input[name=password]');
var submit = $('input[type=submit]');

var update = function(){
	(name.val() && name.val().match(/{{ common.MOD_NAME_REGEX }}/) && password.val()) ? submit.removeAttr('disabled') : submit.attr('disabled', 'disabled');
}

name.keyup(update);
password.keyup(update);
update();

</script>


</body></html>
