{"includes/top.html"}
{"includes/default_headers.html"}
<title>{{ thread.id }}#{{ post.id }} {_Mod Options_} - {{ board_db.config.title }}</title>
</head><body>
{"includes/top_nav_bar.html"}
{"includes/board_select.html"}
{"includes/return_to_index.html"}

<center>
	{% if msg :}<p class="post_error">{$ msg $}</p>{:}
	<h2><a href="/{{ board_db.dir }}/{{ thread.id }}">{{ thread.id }}</a><a href="/{{ board_db.dir }}/{{ thread.id }}#{{ post.id }}">#{{ post.id }}</a> {_Mod Options_}</h2>
</center>


<table class="options">
	<tr><td><b>{_Move/Delete_} <a href="/{{ board_db.dir }}/{{ thread.id }}">{{ _('Thread %d') % thread.id }}</a></b></td></tr>
	<tr>
		<td>
			{% if len(global_db.boards) > 1 :}
				<form style="display: inline" action="" method="post">
					<input type="hidden" name="action" value="move_thread">
					{_From_} <b>{{ board_db.dir }}</b> {_to_}
					<select name="dest_board">
						{% for b in [b for b in global_db.boards if b.dir != board_db.dir] :}
							<option value="{{ b.dir }}">{{ b.dir }}</option>
						{:}
					</select>
					<input type="checkbox" name="keep_locked_copy" id="klc" checked>
					<label for="klc">{$ _('Keep locked copy in %s') % ('<b>%s</b>' % board_db.dir) $}</b></label>
					<input type="submit" value="{_Move_}">
				</form>
				{_or_}
			{:}
			<form style="display: inline" action="" method="post">
				<input type="hidden" name="action" value="delete_thread">
				<input type="submit" value="{_Permanently Delete_}">
			</form>
		</td>
	</tr>
</table>

<br>

<form action="" method="post">
	<input type="hidden" name="action" value="modify_thread">
	<table class="options">
		<tr><td colspan="2"><b>{_Options for_} <a href="/{{ board_db.dir }}/{{ thread.id }}">{{ _('Thread %d') % thread.id }}</a></b></td></tr>
		<tr>
			<td colspan="2">
				<label><input type="checkbox" name="sticky" {% if thread.sticky :} checked{:}>{_Sticky_}</label>
				<label><input type="checkbox" name="locked" {% if thread.locked :} checked{:}>{_Locked_}</label>
				<label><input type="checkbox" name="bumpable" {% if thread.bumpable :} checked{:}>{_Bumpable_}</label>
			</td>
		</tr>
		<tr>
			<td>{_Subject_}:</td>
			<td width="100%"><input style="width: 100%" type="text" name="subject" value="{{ thread.subject }}"></td>
		</tr>
		<tr><td colspan="2">
			<input type="submit" value="{_Modify_}">
			<input type="reset" value="{_Reset Fields_}">
		</td></tr>
	</table>
</form>

<br>

<form action="" method="post" enctype="multipart/form-data">
	<input type="hidden" name="action" value="modify_post">
	<table class="options">
		<tr><td colspan="2"><b>{_Options for_} <a href="/{{ board_db.dir }}/{{ thread.id }}#{{ post.id }}">{{ _('Post %d') % post.id }}</a> {_in_} <a href="/{{ board_db.dir }}/{{ thread.id }}">{{ _('Thread %d') % thread.id }}</a></b> ({{ post.posted }})</td></tr>
		{# show flag count etc #}
		{% if post.reviewed :}
			<tr><td colspan="2"><i>{_This post has been reviewed._}</i></td></tr>
		{: else :}
			{% if post.num_flags :}
				<tr><td colspan="2"><i>{{ _('This post has been flagged %d times.') % post.num_flags }}</i></td></tr>
			{:}
			<tr>
				<td colspan="2">
					<input type="checkbox" name="reviewed" id="rv"><label for="rv">{_Mark Reviewed (people will not be able to flag it any more)._}</label>
				</td>
			</tr>
		{:}
		{# ip/ban options #}
		<tr>
			<td>{_Poster IP_}:</td>
			<td>
				{% if post.ip :}
					<b>{{ post.ip }}</b> (<b>{{ post.fqdn }}</b>, {% if post.proxy_ip :}{_proxy detected_}{: else :}{_proxy not detected_}{:})
					<br>
					{% if not ban :}
						<a href="/~config/bans?new_ban_ip={{ post.ip }}" target="_blank">{_Ban this IP_}</a>
					{: else :}
						{$ _('IP Ban for %s created %s, expires %s with reason: %s') % ('<b>%s</b>' % ban.ip, '<b>%s</b>' % ban.created, '<b>%s</b>' % ban.expires, '<b>%s</b>' % util.html_escape(ban.reason)) $}
					{:}
					<br>
					<a href="/~config/posts-by-ip?ip={{ post.ip }}">{$ _('See all %s posts by %s.') % ('<b>%d</b>' % post.num_ip_posts, '<b>%s</b>' % post.ip) $}</b></a>
				{: else :}
					{_Not Stored_}
				{:}
			</td>
		</tr>
		{# deletion options #}
		<tr>
			<td width="140px" nowrap>
				{_Post Status_}:
			</td>
			<td>
				<select name="status">
					{% ps = database.PostStatus %}
					{% STATUS = {ps.UNDELETED: _('Not Deleted'), ps.MOD_DELETED: _('Deleted by Mod'), ps.USER_DELETED: _('Deleted by Poster')} %}
					{% for k, v in STATUS.items() :}
						<option value="{{ k }}" {% if post.status == k :}selected{:}>{{ v }}</option>
					{:}
				</select>
				<br>
				{_Changing this value will not delete the post comment or file, just whether or not the post is shown as deleted in the thread._}
			</td>
		</tr>
		<tr>
		{# name/tripcode options #}
		<tr>
			<td>{_Name_}:</td>
			<td><input type="text" name="name" value="{{ post.name }}"></td>
		</tr>
		<tr>
			<td>{_Tripcode_}:</td>
			<td><input type="text" name="tripcode" value="{{ post.tripcode or '' }}"></td>
		</tr>
		{# mod flag option #}
		<tr>
			<td></td>
			<td>
				<input type="checkbox" name="mod" id="mf"{% if post.mod :} checked{:}><label for="mf">{_Show Mod Flag_}<label>
			</td>
		</tr>
		{# file options #}
		{% if board_db.file_exts() :}
			<tr>
				<td>File:</td>
				<td>
					<input type="file" name="file">
					<span class="file_exts">{{ ', '.join(board_db.file_exts()) }}</span>
				</td>
			</tr>
		{:}
		{% if post.file_meta :}
			<tr>
				<td>Current File:</td>
				<td>
					<input type="checkbox" name="delete_file" id="df"><label for="df">{_Delete_}</label>
					<input type="checkbox" name="ban_file" id="bf"><label for="bf">{_Ban_}</label>
				</td>		
			</tr>
			<tr>
				<td></td>
				<td><small>md5: {{ post.file_md5 }}</small><br>{"includes/uploaded_file.html"}</td>
			</tr>
		{:}
		{# comment options #}
		<tr>
			<td colspan="2">
				<textarea name="comment" style="width: 100%; height: 200px">{{ post.comment }}</textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="{_Modify_}">
				<input type="reset" value="{_Reset Fields_}">
			</td>
		</tr>
	</table>
</form>

</body></html>
