{"includes/top.html"}
{"includes/default_headers.html"}
<title>{_New Thread_}</title>
</head><body>
{"includes/top_nav_bar.html"}
{"includes/board_select.html"}
{"includes/return_to_index.html"}

{% if 'error_msg' in globals() :}<div class="post_error"><p>{_Error!_} {{ error_msg }}</p></div>{:}

{% if 'ban' in globals() :}{"includes/ban_display.html"}{:}

<center><h2>{_New Thread_}</h2></center>

<div style="margin: auto; display: table">{"includes/new_thread_form.html"}</div>

</body></html>
