{"includes/top.html"}
{"includes/default_headers.html"}
<title>{{ _('Reply to Thread %d') % thread.id }} - {{ board_db.config.title }}</title>
</head><body>
{"includes/top_nav_bar.html"}
{"includes/board_select.html"}
{"includes/return_to_index.html"}

{% if 'error_msg' in globals() :}<div class="post_error"><p>{_Error!_} {{ error_msg }}</p></div>{:}

{% if 'ban' in globals() :}{"includes/ban_display.html"}{:}

<center><h2>{_Reply to_} <a href="/{{ board_db.dir }}/{{ thread.id }}">{{ _('Thread %d') % thread.id }}</a></h2></center>

<div style="margin: auto; display: table;">{"includes/new_reply_form.html"}</div>

</body></html>
