{"includes/top.html"}
{"includes/default_headers.html"}
<title>{{ thread_id }}#{{ post_id }} {_Options_} - {{ board_db.config.title }}</title>
</head><body>
{"includes/top_nav_bar.html"}
{"includes/board_select.html"}
{"includes/return_to_index.html"}

<center>

	{% if msg :}<p class="post_error">{{ msg }}</p>{:}

	{% if status == database.PostStatus.UNDELETED :}
		<h2><a href="/{{ board_db.dir }}/{{ thread_id }}">{{ thread_id }}</a><a href="/{{ board_db.dir }}/{{ thread_id }}#{{ post_id }}">#{{ post_id }}</a> {_Options_}</h2>
		
		{% if reviewed :}
			<p><i>{_This post has been reviewed by a moderator._}</i></p>
		{: elif not flagged :}
			<p>
				<form action="" method="post">
					<input type="hidden" name="action" value="flag">
					<input type="submit" value="{_Flag as breaking the rules_}">
				</form>
			</p>
		{: else :}
			<p><i>{_You have flagged this post._}</i></p>
		{:}
		
		{% if correct_cookie :}
			<p>
				<form action="" method="post">
					<input type="hidden" name="action" value="cookie_delete">
					<input type="submit" value="{_Delete post using saved cookie_}">
				</form>
			</p>
		{: elif tripcode :}
			<p>
				<form action="" method="post">
					<input type="hidden" name="action" value="tripcode_delete">
					{_Tripcode_}: <input type="password" name="tripcode">
					<input type="submit" value="{_Delete Post_}">
				</form>
			</p>
		{:}

	{:}
</center>

</body></html>
