{"includes/top.html"}
{"includes/default_headers.html"}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/{{ board_db.dir }}/{{ thread.id }}/rss">
<title>{{ thread.blurb }} - {{ board_db.config.title }}</title>
<script type="text/javascript">page='thread';board='{{ board_db.dir }}'</script>
</head><body>
{"includes/top_nav_bar.html"}
{"includes/board_select.html"}
{"includes/return_to_index.html"}

<div class="thread_div">
	{% for index, post in enumerate(thread.posts) :}
		{% if index == 0 :}
			{"includes/thread_head.html"}
		{: else :}
			{"includes/thread_reply.html"}
		{:}
	{:}
	{"includes/thread_footer.html"}
</div>

{"includes/return_to_index.html"}
{"includes/board_select.html"}
{"includes/footer.html"}
</body></html>
