{"includes/top.html"}
{"includes/default_headers.html"}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/{{ board_db.dir }}/rss">
<script type="text/javascript">page='board';board='{{ board_db.dir }}'</script>
<title>{{ board_db.config.title }}</title>
</head><body>
{"includes/top_nav_bar.html"}
{"includes/board_select.html"}
{"includes/board_header.html"}

{% if threads :}
	{"includes/page_select.html"}
	{% for i, thread in enumerate(threads) :}
		{% if i :}<hr class="thread_separator">{:}
		{"includes/thread_preview.html"}
	{:}
	{"includes/page_select.html"}
{: else :}
	<div class="cant_post_div">{_There are no active threads!_}</div>
{:}

{"includes/new_thread_form.html"}
{"includes/board_select.html"}
{"includes/footer.html"}
</body></html>
